<h3 class="card-header">General Information</h3>
<div class="card-body">
  <dl class="list-inline separator mb-0">
    @if (data().gender.length) {
    <dt class="list-inline-item">Gender</dt>
    <dd class="list-inline-item">{{ data().gender }}</dd>
    }
    <dt class="list-inline-item">Species</dt>
    <dd class="list-inline-item">{{ data().species }}</dd>
    @if (data().homeWorld.length) {
    <dt class="list-inline-item">Home world</dt>
    <dd class="list-inline-item">{{ data().homeWorld }}</dd>
    }
    @if (data().age) {
    <dt class="list-inline-item">Age</dt>
    <dd class="list-inline-item">{{ data().age }} years</dd>
    }
    @if (data().height) {
    <dt class="list-inline-item">Height</dt>
    <dd class="list-inline-item">{{ data().height }}cm</dd>
    }
    @if (data().weight) {
    <dt class="list-inline-item">Weight</dt>
    <dd class="list-inline-item">{{ data().weight }}kg</dd>
    }
  </dl>
  <dl class="mb-0">
    @if (data().physicalDescription.length) {
    <dt>Physical description</dt>
    <dd>{{ data().physicalDescription }}</dd>
    }
    @if (data().personality.length) {
    <dt>Personality</dt>
    <dd>{{ data().personality }}</dd>
    }
    @if (data().background.length) {
    <dt>Background</dt>
    <dd>{{ data().background }}</dd>
    }
    @if (data().objectives.length) {
    <dt>Objectives</dt>
    <dd>{{ data().objectives }}</dd>
    }
    @if (data().quote.length) {
    <dt>Quote</dt>
    <dd>{{ data().quote }}</dd>
    }
  </dl>
</div>
