<h3 class="card-header d-flex justify-content-between">
  <span>{{ attributeName() }}</span>
  <span>{{ attribute().value | d6Pip }}</span>
</h3>
@switch (!!attribute().skills.length) {
  @case (true) {
  <ul class="list-group list-group-flush mb-0">
    @for (skill of attribute().skills; track skill.name) {
    <li class="list-group-item d-flex justify-content-between border-0">
      <span>{{ skill.name }}</span>
      <span>{{ skill.value | d6Pip }}</span>
    </li>
    }
  </ul>
  }
  @case (false) {
    <div class="card-body">No skills yet</div>
  }
}