<prf-navbar [brand]="'hello'" (clickBrand)="onClickName()"></prf-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <p>General information</p>
    </div>
    <div class="col-md-3">
      <p>Picture</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Attributes</p>
    </div>
    <div class="col-md-6">
      <p>Equipment</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p>Special Abilities</p>
    </div>
    <div class="col-md-3">
      <p>Wound status</p>
    </div>
  </div>
</div>
