<h5>Weapons</h5>
<dl>
  <ng-container *ngFor="let weapon of weapons">
    <dt class="d-flex border-bottom">
      <span class="flex-grow-1">{{ weapon.name }}</span>
      <span><span *ngIf="weapon.strength">STR+</span>{{ weapon.damage | pip}}</span>
    </dt>
    <dd class="d-flex small">
      <span class="pr-4" *ngIf="weapon.range"><strong>Range:</strong> {{ weapon.range | d6WeaponRange}}</span>
      <span class="pr-4" *ngIf="weapon.difficulty"><strong>Difficulty:</strong> {{ weapon.difficulty }}</span>
      <span class="pr-4" *ngIf="weapon.charge"><strong>Charges:</strong> {{ weapon.charge }}</span>
    </dd>
  </ng-container>
</dl>
