.cdk-global-scrollblock body {
  overflow: hidden;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.286);
}

.cdk-overlay-backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.cdk-overlay-backdrop, .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  @extend .modal-content;
  @extend .modal-dialog;
}

.mat-dialog-container {
  padding: 0 !important;
  height: 80vh !important;
}

.form-control.ng-touched.ng-invalid {
  @extend .form-control.is-invalid;
}
