<prf-modal label="Equipment" (close)="close()" (save)="save()" [formGroup]="formGroup" [submittable]="formGroup.valid">
  <ul class="list-unstyled" formArrayName="equipments">
    <li class="d-sm-flex" *ngFor="let equipment of formGroup.get('equipments').controls; let index = index" [formGroupName]="index">
      <div class="flex-grow-1 p-2 align-self-center">
        <input type="text" class="form-control" placeholder="Item name" formControlName="name" />
      </div>
      <prf-number-stepper formControlName="quantity" min="1"></prf-number-stepper>
      <div class="p-2 align-self-center"><button type="button" class="btn btn-secondary" (click)="removeEquipment(index)">remove</button></div>
    </li>
  </ul>
  <p>{{ data.credits }}</p>
</prf-modal>
