<ul class="list-inline">
  <li class="pr-2 list-inline-item">
    <strong class="pr-2">Gender / Species:</strong>
    <span class="pr-2">Female human</span>
  </li>
  <li class="pr-2 list-inline-item">
    <strong class="pr-2">Home world:</strong>
    <span class="pr-2">Coruscant</span>
  </li>
  <li class="pr-2 list-inline-item">
    <strong class="pr-2">Age:</strong>
    <span class="pr-2">26</span>
  </li>
  <li class="pr-2 list-inline-item">
    <strong class="pr-2">Height:</strong>
    <span class="pr-2">1.84</span>
  </li>
  <li class="pr-2 list-inline-item">
    <strong class="pr-2">Weight:</strong>
    <span class="pr-2">85</span>
  </li>
</ul>
<p>
  <strong class="pr-2">Physical description:</strong>
  <span class="pr-2">Gallia was a tall human female with a trim build. She bore an exotic beauty and wore an odd headdress draped with organic tentacles. The Force runs strongly in Gallia\'s family. A close relative of hers is also a Jedi Knight.</span>
</p>
<p>
  <strong class="pr-2">Personality:</strong>
  <span class="pr-2">Gallia was a superb pilot and skillful warrior. Unlike most Jedi, Gallia adopted an unorthodox reverse one-handed grip when wielding her lightsaber.</span>
</p>
