<dl class="row">
  <dt class="col-sm-4">Force sensitive</dt>
  <dd class="col-sm-2">{{ force.sensitive }}</dd>
  <dt class="col-sm-4">Force points</dt>
  <dd class="col-sm-2">{{ force.points }}</dd>
  <dt class="col-sm-4">Dark side</dt>
  <dd class="col-sm-2">{{ force.darkSide }}</dd>
</dl>
<div *ngFor="let ability of force.abilities">
  <h5 class="d-flex justify-content-between border-bottom pb-2">
    <span>{{ ability.name }}</span>
    <span *ngIf="!!ability.value">{{ ability.value | d6Pip }}</span>
  </h5>
  <ul *ngIf="!!ability.list && !!ability.list.length" class="list-inline">
    <li *ngFor="let element of ability.list" class="list-inline-item badge bg-light text-dark">{{ element }}</li>
  </ul>
</div>
