<prf-navbar></prf-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <prf-card>
        General info comes here
      </prf-card>
      <div class="row">
        <div class="col-sm-6 col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <prf-d6-attribute title="Dexterity"></prf-d6-attribute>
            </div>
            <div class="col-lg-4">
              <prf-d6-attribute title="Knowledge"></prf-d6-attribute>
            </div>
            <div class="col-lg-4">
              <prf-d6-attribute title="Mechanical"></prf-d6-attribute>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <prf-d6-attribute title="Perception"></prf-d6-attribute>
            </div>
            <div class="col-lg-4">
              <prf-d6-attribute title="Strength"></prf-d6-attribute>
            </div>
            <div class="col-lg-4">
              <prf-d6-attribute title="Technical"></prf-d6-attribute>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <prf-card>
        Inventory comes here
      </prf-card>
    </div>
  </div>
</div>

<prf-footer></prf-footer>
