<prf-navbar></prf-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <prf-card>
        <div class="row">
          <div class="col-sm-6 col-md-12 col-lg-6">
            <div class="row">
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Dexterity" [attribute]="data.attributes.dexterity"></prf-d6-attribute>
              </div>
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Knowledge" [attribute]="data.attributes.knowledge"></prf-d6-attribute>
              </div>
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Mechanical" [attribute]="data.attributes.mechanical"></prf-d6-attribute>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-12 col-lg-6">
            <div class="row">
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Perception" [attribute]="data.attributes.perception"></prf-d6-attribute>
              </div>
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Strength" [attribute]="data.attributes.strength"></prf-d6-attribute>
              </div>
              <div class="col-md-4 col-lg-12">
                <prf-d6-attribute label="Technical" [attribute]="data.attributes.technical"></prf-d6-attribute>
              </div>
            </div>
          </div>
        </div>
      </prf-card>
    </div>
    <div class="col-lg-6">
      <prf-card>
        <sw2e-equipment [equipment]="data.equipment" [credits]="data.credits"></sw2e-equipment>
        <sw2e-weapons [weapons]="data.weapons"></sw2e-weapons>
      </prf-card>
      <prf-card>
        <ul class="list-inline">
          <li class="pr-2 list-inline-item">
            <strong class="pr-2">Gender / Species:</strong>
            <span class="pr-2">{{ data.general.gender }} {{ data.general.species }}</span>
          </li>
          <li class="pr-2 list-inline-item">
            <strong class="pr-2">Home world:</strong>
            <span class="pr-2">{{ data.general.homeWorld }}</span>
          </li>
          <li class="pr-2 list-inline-item">
            <strong class="pr-2">Age:</strong>
            <span class="pr-2">{{ data.general.age }}</span>
          </li>
          <li class="pr-2 list-inline-item">
            <strong class="pr-2">Height:</strong>
            <span class="pr-2">{{ data.general.height }}</span>
          </li>
          <li class="pr-2 list-inline-item">
            <strong class="pr-2">Weight:</strong>
            <span class="pr-2">{{ data.general.weight }}</span>
          </li>
        </ul>
        <hr />
        <p>
          <strong class="pr-2">Physical description:</strong>
          <span>{{ data.general.physicalDescription }}</span>
        </p>
        <p>
          <strong class="pr-2">Personality:</strong>
          <span>{{ data.general.personality }}</span>
        </p>
        <p>
          <strong class="pr-2">Background:</strong>
          <span>{{ data.general.background }}</span>
        </p>
        <p>
          <strong class="pr-2">Objectives:</strong>
          <span>{{ data.general.objectives }}</span>
        </p>
        <p>
          <strong class="pr-2">A quote:</strong>
          <span>{{ data.general.quote }}</span>
        </p>
      </prf-card>
    </div>
  </div>
</div>

<prf-footer></prf-footer>
